@import "tailwindcss";

:root {
  --background: #08080e;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* اینجا میذاریم تا تیلویند ازش استفاده کنه  */
  --font-sans: var(--font-vazir);

  --PURPLE: #8b5cf6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazir), sans-serif;
}
